body{
    overflow-x: hidden;
}
.box{
    position:relative;

    height:100vh;
    transform : translateX(-8px) ;


}

.lists{
    transform: translateX(5px);
    display: flex;
    word-wrap: normal;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    margin:20px;
    border-radius: 10px;
    span{
        font-size: 18px;
    }
    button{
        height: 30px;
        margin-top: 15px;
        outline: none;
        background: none;

    }
}