body{
    align-items: center;
    background-color: rgba(41, 40, 40, 0);
}

.register{
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.formContainer{
    align-items: center;
    padding: 20px;
    button{
        border-radius: 10px;
        height: 30px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 18px;
        transform: translateY(20px);
        background-color: rgba(89, 175, 89, 0.433);
    }
    input{
        height: 35px;
        border-radius: 5px;
        border: 2px solid rgb(14, 55, 14);
    }
    label{
        font-size: larger;
        font-weight: bold;
    }
}